::selection{
    color: #fff;
    background:#56baed;
  }
  body{
    background:#7995a3;
  }
  .play-board, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
  

  .header{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
  }
 
  
  .play-board{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
  }
  .play-board.show{
    opacity: 1;
    pointer-events: auto;
   transform: translate(-50%, -50%) scale(1);
  }
  .play-board .details{
    padding: 7px;
    border-radius: 5px;
  }
  .play-board .players{
    width: 100%;
    display: flex;
    position: relative;
  }
  .players span{
    position: relative;
    z-index: 2;
    color: #204658;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    cursor: default;
    user-select: none;
    transition: all 0.3 ease;
  }
  .players.active span:first-child{
    color: #fff;
  }
  .players.active span:last-child{
    color: #000000;
  }
  .players span:first-child{
    color: rgb(0, 0, 0);
  }
  
  .play-area section{
    display: flex;
    margin-bottom: 1px;
  }
  .play-area section span{
    display: block;
    height: 90px;
    width: 90px;
    margin: 2px;
    color: #000000;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
  }
  
  .result-box{
    padding: 25px 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    opacity: 0;
    text-align: center;
    background: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
  }
  .result-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  .result-box .won-text{
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  .result-box .won-text p{
    font-weight: 600;
    margin: 0 5px;
  }
  .result-box .btn{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
  .btn button{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    background: #000000;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .btn{
    margin: 10px;
    text-align: center;
  }